@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
*{
    line-height:1;
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    text-decoration:none;
    outline:none;
    border-collapse:collapse;
    border-spacing:0;
    font-family:'Roboto', sans-serif;
}
.container {
    width: 100%;
    text-align: center;
    margin:auto;
}
.conteudo {
    margin:20px;
    flex-grow:2;
}
.conteudo h2{
    margin-bottom:20px;
}

.raised, .flat, .outlined{
    text-transform:uppercase;
    font-weight:500;
    padding:8px 13px;
    cursor:pointer;
    font-size:13px;
    letter-spacing:0.5px;
}
.raised, .outlined{
    border-radius:2px;
    border:2px solid #2A9190;
}
.raised{
    background-color:#2A9190;
    color:white;
    margin:0 15px;
}
.raised:hover{
    background-color:#397F7F;
    border-color:#397F7F;
}

.home {
    margin: 30px 0;
}
.campo {
    margin: auto;
}
.campo input:text {
    margin:5px;
    padding:10px 5px;
}

.cmp_busca {
    min-width:300px;
}

.formulario {
    width: 100%;
    margin: auto;
}
.filtros{
    display:flex;
    flex-direction:row;
    margin:-5px;
    align-items:center;
    padding-bottom:10px;
}

input[type=text], input[type=password], textarea{
    padding:5px;
    margin:5px;
}
input[type=text], input[type=password]{
    border-bottom:1px solid #666;
}

header {
    padding:10px 20px;
    border-bottom:1px solid #ccc;
}

.tabela{
    width:100%;
}
.tabela thead th{
    text-align:center;
    font-size:10px;
    font-weight:normal;
    border-bottom:1px solid black;
}
.tabela th{
    padding:5px 10px;
}
.tabela td{
    text-align:center;
    border-bottom:1px solid #EEE;
    padding:10px;
}